{% extends 'profile/base.html.twig' %}

{% block title %}
    {{ contentTitle }}
{% endblock %}

{% block contentTitle %}
    {{ contentTitle }}
{% endblock %}

{% block contentHeader %}
    <h1 class="h2">Questions</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{{ path('profile_questions_create') }}" class="btn btn-sm btn-primary">
            Create question
        </a>
    </div>
{% endblock %}

{% block body %}
    <div class="questions">
        {% for question in questions %}
            <div class="d-flex text-muted pt-3">
                {#                    {% if question['owner']['profile_image'] is defined %}#}
                {#                        <img src="{{ question['owner']['profile_image'] }}" alt="" class="bd-placeholder-img flex-shrink-0 me-2 rounded">#}
                {#                    {% endif %}#}
                <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                    <div class="d-flex justify-content-between">
                        <div class="question__info">
                            <div class="tags">
{#                                {% if question['tags'] is defined %}#}
{#                                    {% for tag in question['tags'] %}#}
{#                                        <a href="">{{ tag }},</a>#}
{#                                    {% endfor %}#}
{#                                {% endif %}#}
                            </div>
                            <div class="question__title mt-2">
                                <h2>
                                    <a href="">{{ question.title }}</a>
                                </h2>
                            </div>
                        </div>
                        <div class="answers_cnt text-right">
                            <a href="{{ path('profile_questions_update', {'id': question.getId()}) }}" class="item-link">Update</a>
                            <a href="{{ path('profile_questions_delete', {'id': question.getId()}) }}" class="item-link">Delete</a>

                        </div>
                    </div>
                    <div class="question__author mt-2">
{#                        {% if question['owner']['profile_image'] is defined %}#}
{#                            <img style="max-width: 20px;" src="{{ question['owner']['profile_image'] }}" alt="" class="bd-placeholder-img flex-shrink-0 me-2 rounded">#}
{#                        {% endif %}#}
{#                        <span class="{% if question['owner']['link'] is defined %} {{ question['owner']['link'] }} {% endif %}">{{ question['owner']['display_name'] ?? '' }}</span>#}
                    </div>
                    <div class="question__stats mt-2">
                        <ul class="d-flex">
                            <li>{{ question.createdAt|date("d-m-Y H:i:s") }} created date</li>
{#                            <li>{{ question.view_count }} view count</li>#}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
